<p>
	Bonjour
	{{user.firstname}}
	{{user.lastname}}</p>
<p>
	Pour votre demande réinisialisation de mot de passe, veuillez cliquer sur le lien suivant:
	<a href="{{url|raw}}">{{url|raw}}</a>
</p>

<p>
	merci
</p>
